* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10% 5%;
}

h1, .item-currentPrice {
    font-family: 'Fraunces', serif;
}

#main-container {
    display: flex;
    max-width: 600px;
    max-height: 500px;
}

#image {
    width: 50%;
}
#image img {
    object-position: center;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
}

#content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    width: 50%;
    row-gap: 1.7em;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.item-cat {
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.4rem;
    font-size: 0.8em;
}

.item-title {
    text-transform: capitalize;
    font-size: 2.1em;
}

.item-desc {
    font-size: 14px;
}

.item-prices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
    color: hsl(158, 36%, 37%);
}

.item-currentPrice {
    font-size: 2em;
}

.item-originPrice {
    text-decoration: line-through;
    font-weight: lighter;
}

.add-to-cart {
    all:unset;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: hsl(158, 36%, 30%);
}

.add-to-cart-text {
    background-image: url("../images/icon-cart.svg");
    background-position: left;
    background-repeat: no-repeat;
    width: 70%;
    margin: 0 auto;
    padding-left: 30px;
}

/*

    Partie responsive

*/

@media screen and (max-width: 768px) {
    #container {
        width: 100%;
        padding: 10% 5%;
    }
    #main-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    #image {
        height: 35vh;
        width: 100%;
    }
    #image img {
        border-radius: 10px 10px 0 0;
        height: auto;
        width: 100%;
    }
    #content-item {
        border-radius: 0 0 10px 10px;
        width: 100%;
        padding: 1.7rem;
        row-gap: 0.9rem;
    }

}